<form action="/users" method="POST">
    <input type="text" name="name" placeholder="Nome:" />
    <input type="text" name="email" placeholder="Email:" />
    <input type="text" name="address" placeholder="Endereço:" />
    <button type="submit">Enviar</button>
</form>